body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: #1b202b;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body {
  min-height: 100vh;
  background: linear-gradient(180deg, #91f 0%, #40f 100%);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  position: relative;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  offset-path: path(
    "M 239 17 C 142 17 48.5 103 48.5 213.5 C 48.5 324 126 408 244 408 C 362 408 412 319 412 213.5 C 412 108 334 68.5 244 68.5 C 154 68.5 102.68 135.079 99 213.5 C 95.32 291.921 157 350 231 345.5 C 305 341 357.5 290 357.5 219.5 C 357.5 149 314 121 244 121 C 174 121 151.5 167 151.5 213.5 C 151.5 260 176 286.5 224.5 286.5 C 273 286.5 296.5 253 296.5 218.5 C 296.5 184 270 177 244 177 C 218 177 197 198 197 218.5 C 197 239 206 250.5 225.5 250.5 C 245 250.5 253 242 253 218.5"
  );
}
.ani svg {
  fill: none;
}
header .pizza-svg {
  width: 0.5em;
  overflow: visible;
  stroke: #d2bdf6;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.title {
  color: #d2bdf6;
}
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d2bdf6;
  outline: 1px solid #d2bdf6;
}
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #805ad5;
  color: #F7FAFC;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* border: 0.5px solid white; */
  font-weight:600;
  /* Position the tooltip */
  position: absolute;
  margin-top:4px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.fp-watermark{
  display: none;
}